<div class="menu">
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:profile' %}">{{ user.username }}</a></li>
        {% else %}
            <li><a href="{% url 'auth:login' %}">Войти</a></li>
        {% endif %}
        <li><a href="{% url 'film:movies_list' %}">Фильмы</a></li>
        <li><a href="{% url 'film:category_list' %}">Каталог</a></li>
        <li><a href="{% url 'film:genre_list' %}">Жанры</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
        {% endif %}
    </ul>
</div>
